body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    color: white;
}
.cv-sidebar {
    width: 21%;
    min-width:5em;
    max-width:14em;
    color: white;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
}
.cv-sidebar button {
    color: inherit;
    display: block;
    border: none;
    margin-top: 1em;
    background: none;
    font-style: italic;
}
.cv-sidebar-ext-link {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.cv-svg-icon {
    margin-left: 0.4em;
    margin-right: 0.4em;
    fill: white; 
}
.cv-content {
    flex: 1;
    max-width: 1080px;
    margin-left: min(max(21%,5em),14em);
    padding-left: min(max(1%,0.1em),30px);
}
.theme-color {
    color: white !important;
}
.theme-contrast {
    color: black;
    fill: black;
}
.theme-grey {
    color: #5a5a5a;
    fill: #5a5a5a;
}
.background-contrast {
    background-color: black !important;
}
.cv-section {
    margin-bottom: 20px;
}
.cv-sidebar-link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}
#profile-picture {
    margin-top: 1em;
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    min-width: 4em;
    min-height: 4em;
    border-radius: 100%;
    object-fit: contain;
}
#fallback-link{
    display: none;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}
.body-svg-icon {
    margin-left: 0.6em;
    margin-right: 0.6em;
}
.article {
    font-style: italic;
    color: inherit;
}
/* Adapt horizontally (from the least to the most restrictive */
@media only screen and (max-width: 32em){
    .cv-sidebar {
        font-size: 75% !important;
    }
    #colorSwitchButton {
        font-size: 75% !important;
    }
    .cv-sidebar-ext-link {
        display: none !important;
    }
    #fallback-link {
        display: flex !important;
    }
}
@media only screen and ((max-width: 20em) or (max-height: 18em)){
    .cv-sidebar {
        display: none;
    }
    .cv-content {
        margin-left: 0px;
    }
    #fallback-link {
        display: flex !important;
    }
}
/* Adapt vertically (from the least to the most restrictive */
@media only screen and (max-height: 32em) {
    .cv-sidebar-link {
        display: none !important;
    }
}
@media only screen and (max-height: 20em) {
    .height-optional {
        display: none !important;
    }
}