<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://avatars.githubusercontent.com">
<meta name="description" content="{{ .Description | default "Pierre Jacquet" }}">
<meta name="author" content="Pierre Jacquet">
{{ if .IsHome }}
<link rel="stylesheet" href="/resources/css/cv.css">
{{ else }}
<link rel="stylesheet" href="/resources/css/blog.css">
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
